@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --verydarkgrayish: hsl(217, 19%, 35%);
    --desaturatedarkblue: hsl(214, 17%, 51%);
    --grayishblue: hsl(212, 23%, 69%);
    --lightgrayblue: hsl(210, 46%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--lightgrayblue);
    min-height: 100vh;
}

.container {
    max-width: 730px;
    width: 100%;
    height: 300px;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
   
}

.container .img  {
    height: inherit;
}


.container .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 8%;
    border-radius: 15px 0px 0px 15px;
}

.content-card {
    background-color: #fff;
    width: 100%;
    height: 300px;
    align-self: center;
    padding: 2rem;
    border-radius: 0px 15px 15px 0px;

}

.content-card h1, h2 {
    font-size: 1.5rem;
    color: hsl(217, 19%, 35%)
}

.content-card p  {
    font-size: 0.8rem;
    color: var(--desaturatedarkblue);
    padding-top: 0.5rem;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
    place-items: center;

}

.profile span {
    display: block;
    color: var(--grayishblue);
}

.profile .profile-img img{
    width: 40px;
    height: 40px;
    border-radius: 50px;

}

.profile h2 {
    padding-left: 1rem;
    font-size: 0.8rem;
    width: 100%;
  
}

.tooltip button {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: var(--lightgrayblue);
    position: relative;
    z-index: 1;
    cursor: pointer;
}




.tooltip button img {
    position: relative;
    display: inline-block;
   
}





.tooltip {
    position: relative;
    display: inline-block;
  
  }
  
  .tooltip .tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: hsl(217, 19%, 35%);
    color: var(--grayishblue);
    text-align: center;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -125px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 50px;
    box-shadow: 0px 0px 1px 0px black;
    place-items: center;
    

  }

  .tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: -10px; /* ajustado para o triângulo */
    left: 50%;
    margin-left: -10px; /* ajustado para o triângulo */
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
  }

  .tooltip .tooltip-text p {
    letter-spacing: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin-bottom: 0.4rem;
    color: var(--grayishblue);
  }

  .tooltip-text img {
    width: 20px;
    height: 20px;
   
   
  }
  
  .tooltip-text .hide {
    display: none;
  }

  @media (max-width: 500px){
    
    .container {
        height: 80vh;
        padding: 2rem;
        flex-direction: column;
       
    }

    .container .img img {
 
        border-radius: 15px 15px 0px 0px;
    }
    
    .container .content-card {
        max-height: 100vh;
        border-radius: 0px 0px 15px 15px;
    }

    .container .content-card h1 {
        font-size: 1.1rem;
    }

    .container .content-card p {
        padding-top: 1rem;
        width: 87%;
        font-size: 0.8rem;
    }


    .profile {
       margin-top: 0rem;
       margin-bottom: -2rem;
  
    }

    .tooltip .tooltip-text {
      visibility: hidden;
      width: 250px;
      background-color: hsl(217, 19%, 35%);
      color: var(--grayishblue);
      text-align: center;
      border-radius: 15px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -150px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      height: 50px;
      box-shadow: 0px 0px 1px 0px black;
      place-items: center;
      padding-right: 1rem;
  
    }
  
    .tooltip .tooltip-text::after {
      content: "";
      position: absolute;
      bottom: -10px; /* ajustado para o triângulo */
      left: 50%;
      margin-left: -10px; /* ajustado para o triângulo */
      border-width: 10px 10px 0 10px;
      border-style: solid;
      border-color: hsl(217, 19%, 35%) transparent transparent transparent;
    }

    .tooltip button {
     margin-right: 3rem;
    }


      .tooltip .tooltip-text p {
        letter-spacing: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        place-items: center;
        margin-bottom: 0.8rem;
        color: var(--grayishblue);
       
      }

      .tooltip-text img {
        width: 20px;
        height: 20px;
        
       
      }
    
 
      .tooltip-text .hide {
        display: block;
      }

      
  }