@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');



:root {
    --paleblue: hsl(255, 100%, 94%);
    --brightblue: hsl(245, 75%, 52%);
    --verypaleblue: hsl(255, 100%, 98%);
    --desaturatedblue: hsl(224, 23%, 55%);
    --darkblue: hsl(223, 47%, 23%);
}


body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--verypaleblue);
   

}


img {
    border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;

}

.card {
    width: 23%;
    margin: 0 auto;
    max-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    transform: translateY(20%);
   
}

.card .text {
    text-align: center;
    padding: 0.625rem;
}

.card .text h1 {
    font-weight: 900;
    font-size: 1.8rem;
    color: var(--darkblue);
}

.card .text p {
    padding: 0 2rem;
    line-height: 1.5rem;
    color: var(--desaturatedblue);
    font-weight: 500;
}

.container .box {
    padding: 0 3.125rem 0 3.125rem;
  

}

.container .content-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--verypaleblue);
    align-items: center;
    gap: 0.2rem;
    border-radius: 0.625rem 0.625rem;

}

.container .content-box img {
    width: 3.125rem;
    height: 3.125rem;
    padding: 1rem;
  
}

.container .content-box h2 {
    color: var(--darkblue);
    font-size: 1rem;
    font-weight: 900;
    padding: 0;
}

.container .content-box span.price {
    font-size: 1rem;
    color: var(--desaturatedblue);
    font-weight: 400;
    padding: 0;
    display: block;

}

.container .content-box .img-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container .content-box .change a {
    color: var(--brightblue);
    font-weight: 700;
    font-size: 0.9rem;
    margin-right: 2rem;
}

.container .content-box .change a:hover {
    
    opacity: 0.8;
}

.container .payment {
    padding: 2rem 3.3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .payment button.btn-payment {
    background-color: var(--brightblue);
    color: #fff;
    font-weight: 900;
    padding: 0.8rem;
    border: none;
    border-radius: 0.375rem;
    box-shadow: 0rem 0.688rem 2rem -0.625rem rgb(26, 17, 120);
    align-items: center;
}

.container .payment button.btn-payment:hover {
    cursor: pointer;
    opacity: 0.8;
}

.container .payment button.btn-cancel {
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    align-items: center;
    padding: 0.8rem;
    color: var(--desaturatedblue);
    font-weight: 900;
}

.container .payment button.btn-cancel:hover {
    color: var(--darkblue);
    cursor: pointer;
}

@media (max-width: 1440px) {
    .card {
        width: 40%;
    }

    .card img {
        width: 100%;
    }
}


@media (max-width: 500px) {


    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {

        height: 100%;
    }

    img {
        width: 100%;
    }

    body {
        width: 100%;
        padding: 0;
        font-family: 'Red Hat Display', sans-serif;
        background-image: url('images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: var(--verypaleblue);
        transform: translateY(-16%);
    }

    .card {
        width: 100%;
        

    }

    .card .text {
        padding-top: 1rem;
    }

    .card .text h1 {
        padding-top: 1rem;
    }

    .card .text p {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

  

    .container .box .content-box .img-box img {
        width: 80px;
        height: 80px;
    }

    .container .box .content-box .change a {
        margin-right: 1rem;
    }


}

