@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --lightred: hsl(0, 100%, 67%);
    --orangeyellow: hsl(39, 100%, 56%);
    --greenteal: hsl(166, 100%, 37%);
    --cobaltblue: hsl(234, 85%, 45%);

    /* Gradients */

    --lightslateblue: hsl(252, 100%, 67%); /*background*/
    --lightroyalblue: hsl(241, 81%, 54%);
    --violetblue: hsla(256, 72%, 46%, 1);/*circle*/
    --persianblue:hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white:hsl(0, 0%, 100%);
    --paleblue: hsl(221, 100%, 96%);
    --lightlavender: hsl(241, 100%, 89%);
    --darkgrayblue:hsl(224, 30%, 27%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    
}

.card {
    max-width: 100%;
    max-height: 100vh;

}

.container  {
   max-width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
   border-radius: 50px 50px;
   align-items: center;
  
   
}


.container header.content-top {
    max-width: 100%;

    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0px 0px 50px 50px;
}

.container header.content-top .your-result h1 {
    font-size: 1.5rem;
    color: var(--lightlavender);
    text-align: center;
    padding-top: 2rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    
}

.content-top .main-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0em;
}

.content-top .main-rating p {
    color: var(--white);
    font-size: 4rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.content-top .main-rating p:before{
    content: '';
    position: absolute;
    top: center;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 150px;
    height:150px;
    z-index: -1;
}

.content-top .main-rating span {
    display: block;
    font-size: 1rem;
    color: var(--paleblue);
    opacity: 0.6;
    padding-top: 0.4rem;
    word-spacing: 0.1rem;
    
}

.content-top .text {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 
}

.content-top .text h2 {
    color: var(--white);
    font-weight: 900;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.content-top .text p {
    padding: 0.5rem 3rem;
    padding-bottom: 2rem;
    color: var(--lightlavender);
}

.content-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: var(--white);
    height: 100vh;

}

.content-summary h3 {
    font-weight: 800;
    font-size: 1.3rem;
    color: var(--darkgrayblue);
}

.itens-summary {
    padding-top: 0.2rem;
}

.itens-summary ul li {
    padding: 1.1rem 1rem;
}


.itens-summary li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}

.itens-summary li p.icon {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.itens-summary 
li.reaction, 
li.memory,
li.verbal,
li.visual {
    background-color: hsla(0, 100%, 67%, 0.04);
    color: hsl(0, 100%, 67%);
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 1rem;
    border-radius: 10px;
    position: relative;
}

.itens-summary li::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: inherit;
    padding: 2px;
    border-radius: 10px;
    -webkit-mask:
      linear-gradient(  0deg,#000 calc(2*2px),#0000 0) 50% 2px/calc(100% - 2*10px) 100% repeat-y,
      linear-gradient(-90deg,#000 calc(2*2px),#0000 0) 2px 50%/100% calc(100% - 2*10px) repeat-x,
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
      -webkit-mask-composite: destination-out;
}

.itens-summary li p img {
    height: 25px;
}

.itens-summary li.memory {
    background-color: hsla(39, 100%, 56%, 0.04);;
    color:hsl(39, 100%, 56%);
}

.itens-summary li.verbal {
    background-color: hsla(166, 100%, 37%, 0.04);
    color: hsl(166, 100%, 37%);
}

.itens-summary li.visual {
    background-color: hsla(234, 85%, 45%, 0.04);
    color: hsl(234, 85%, 45%);
}

.itens-summary span.rating {
    color: hsl(224, 30%, 27%);
  
   
}

.itens-summary span .teste{
    color: hsl(224, 30%, 27%);

   
}

strong {
    opacity: 0.5;

}

.content-summary .btn-continue {
    padding: 0.7rem 0rem;
}

.btn-cont {
    width: 100%;
    font-size: 1.2rem;
    height: 65px;
    border-radius: 50px;
    font-weight: 600;
    background-color: var(--darkgrayblue);
    color: var(--white);
    border: none;
    transition: .3s;
}

.btn-cont:hover {
    background-color: var(--cobaltblue);
    cursor: pointer;
}


@media (min-width: 600px) {

    .container header.content-top {
        border-radius: 50px;
        box-shadow: 2px 0px 20px 5px var(--paleblue);
    }

    
    .container {
        border-radius: 15px;
        flex-direction: row;
        
    }

    .content-top {
        padding-top: 1rem;
        height: 60vh;
        z-index: 1;
        width: 40%;

    }


    .content-summary {
        height: 60vh;
        width: 50%;
        box-shadow: 2px 0px 20px 5px var(--paleblue);
        z-index: -1;
        padding: 3rem 2rem 0rem 4rem;
        margin-left: -2rem;
        border-radius: 10px 50px 50px 10px;
    }

    .content-top .main-rating {
        padding-top: 2rem;
        
    }

    .content-top .main-rating p::before {
        width: 190px;
        height:190px;
    }

    .content-top .text {
        padding-top: 5rem;
    }

    .content-top .text h2 {
        padding-bottom: 1rem;
    }
    



}

@media (min-width: 1440px) {

    .content-top {
        width: 20%;
    }
    .content-summary {
        width: 20%;
    }

    .content-top .main-rating {
        padding-top: 4rem;
        
    }

    .content-top .main-rating p {
        font-size: 5rem;
    }

    .content-top .main-rating p::before {
        width: 240px;
        height: 240px;
    }

    .content-top .text h2 {
        padding-top: 1rem;
        padding-bottom:1rem;
        font-size: 2rem;
    }
    .content-top .text p {
        width: 100%;
        padding: 0rem 5rem; 
        font-size: 1rem;
    }

    .content-summary h3 {
        font-size: 1.5rem;
    }
    
    .itens-summary {
        padding-top: 1rem;
    }
    
    
    .content-summary .btn-continue {
        padding: 4rem 0rem;
    }

    
    
} 