* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4D04E;
    font-family: 'Figtree', sans-serif;
    
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 960px;

}

.card {
    max-width: 384px;
    height: 522px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid var(--Black, #111);
    box-shadow: 8px 8px 0px 0px #000;
    padding: 24px;
}


.card header {
    margin-bottom: 24px;
}

.card header img  {
    width: 336px;
    border-radius: 10px;
}

.card .card-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.card .card-info .tag {
    max-width: 82px;
    background-color: #F4D04E;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 800;
    border-radius: 4px;
    
}

.card .card-info .date {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
    color: #111;

}

.card .card-info .card-title {
    margin-top: 12px;
    font-size: 24px;
    margin-bottom: 12px;
    color: #111;
}

.card .card-info .card-title:hover {
    color: #F4D04E;
    cursor: pointer;
}

.card .card-info .card-p {
    font-size: 16px;
    font-weight: 500;
    color: #7F7F7F;
    line-height: 150%; /* 24px */
  
}

.card .card-profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card .card-profile img.profile {
    width: 32px;
    height: 32px;
}

.card .card-profile span.nickname {
    font-size: 14px;
    font-weight: 800;
}

@media (max-width: 375px) {
    main {
        display: flex;
        justify-content: center;
        height: 100vh;
        max-width: 100%;

      }

      .card {
        max-width: 327px;
      }

      .card header img {
        width: 279px;
      }


      



      
}