@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}
.menu {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 5rem;
    align-items: start;
    justify-self: center;
}

.menu .logo img {
    width: 70%;
    max-height: 100vh;
}

header .content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem 0rem 0.5rem;
}

header .content-img img {
    width: 90%;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 5rem;
    max-height: 100vh;

}

.container .content h1 {
    font-size: 1.8rem;
    width: 100%;
    color: #fff;
    margin-bottom: 1rem;
}

.container .content p {
    color: #fff;
    width: 100%;
    line-height: 1.7rem;
    font-size: 0.9rem;
    
}

.content button {
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    padding: 1.2em 2rem;
    width: 70%;
    font-size: 0.9rem;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    box-shadow: 0px 19px 62px -4px rgba(0,0,0,0.1);
    transition: .3s;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.content button:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    cursor: pointer;
}

footer {
    max-height: 100vh;
    max-width: 100%;
    background-color: transparent;
    margin-bottom: 1rem;
}

footer .social-medias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    color: #fff;

}

footer .social-medias i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: .3s;
}

footer .social-medias i:hover {
    color: hsl(300, 69%, 71%);
    border-color:hsl(300, 69%, 71%);
    cursor: pointer;
    transform: scale(120%);
}

@media (min-width: 660px) {

    body {
        background-image: url('images/bg-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        max-width: 1920px;
        margin: 0 auto;
    }

    header .content-img  {
        width: 100%;
        max-height: 100vh;
    }

    .container {
        margin: 10% auto;
    
    }

    .container .content {
        width: 700px;
        display: flex;
        text-align: start;
        flex-direction: column;
        align-items: start;
    }

    .container .content h1 {
        font-size: 2.5rem;
        width: 100%;
        
    }

    .container .content p {
        font-size: 1rem;
        width: 100%;

    }

    .container .content button {
        color: hsl(257, 40%, 49%);
        background-color: #fff;
        padding: 1.2rem 2rem;
        width: 40%;
        font-size: 1rem;
        border-radius: 30px;
        font-weight: 600;
        border: none;
        box-shadow: 0px 19px 62px -4px rgba(0,0,0,0.1);
        transition: .3s;
    }

    .content button:hover {
        background-color: hsl(300, 69%, 71%);
        color: #fff;
        cursor: pointer;
    }

   
    footer {
        position: absolute;
        top: 90%;
        left: 80%;
    }

}



/*
.content h1 {
    padding-right: 10rem;
    margin-bottom: 1rem;
    text-shadow: 1rem black;
}

.content p {
    line-height: 2rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}
*/

/*

.content button:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    cursor: pointer;
}

*/